.loginCon{
    margin-bottom: 100px;  
    padding : 200px 300px 0px 300px;
    text-align: center;
}

.kakaoLog{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 400px;
    height: 70px;
    background-image: url('https://ik.imagekit.io/uhpparxr6//login/Group_4871_T4QFeo_Tf1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 140px;
    border: 1px solid none;
    border-radius: 5px;
    cursor: pointer;
}

.emailLog Form{
    margin-top: 50px;
    margin-bottom: 250px;
    width: 400px;
    height: 70px;
    position: relative;
    left: 140px;
}

.emailLog Button{
    width: 400px;
    height: 50px;
    background-color: #EB6440;
    border: 1px solid #EB6440;
}

.emailLog p{
    margin-top: 10px;
}

.emailLog #sign{
    color: #EB6440;
    cursor: pointer;
}