.bannerHeader {
    font-weight: bold;
    font-size: 24px;
}

.FirstBanner {
    padding-top: 170px;
    padding-left: 200px;
    width: 100%;
    height: 650px;
    background-image: url('https://ik.imagekit.io/uhpparxr6/main/main-header/main-header-d-pc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.FirstBanner p {
    font-weight: bold;
    font-size: 24px;
    line-height: 15px;
}

.FirstBanner button {
    margin-top: 0px;
    position: absolute;
    left: 200px;
    top: 260px;
    width: 160px;
    height: 50px;
    background-color: #FF6741;
    border: 1px #FF6741;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.firSecBetweenBanner {
    margin: 70px 0px 70px 0px;
    width: auto;
    text-align: center;
}

.secondBanner {
    margin-top: 100px;
    width: 100%;
}

.secondBanner .secondBannerText {
    margin-bottom: 50px;
    padding-left: 140px;
    padding-right: 140px;
    font-weight: bold;
    font-size: 26px;
}

.secondBanner .leftText {
    text-align: left;
    line-height: 20px;
}

.secondBanner .rightText {
    font-size: 22px;
    color: #707070;
    text-align: right;
    position: relative;
    left: 550px;
}

.secondBanner .rightTextNum1 {
    font-size: 24px;
    color: #EB6440;
    text-align: right;
    position: relative;
    left: 395px;
}

.secondBanner .rightTextNum2 {
    font-size: 24px;
    color: #EB6440;
    text-align: right;
    position: relative;
    left: 490px;
}

.aniImg {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.aniImg #img1 {
    width: auto;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    animation: bannermove 20s linear infinite;
}

@keyframes bannermove {
    0% {
        transform: translate(101%, 0);
    }

    100% {
        transform: translate(0%, 0);
    }
}

.aniImg #img2 {
    width: auto;
    height: 400px;
    position: relative;
    top: -400px;
    display: flex;
    flex-wrap: nowrap;
    animation: bannermove2 20s linear infinite;
}

@keyframes bannermove2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100.3%, 0);
    }
}

.secondBannerButton {
    margin: 70px 550px 70px 550px;
    width: 160px;
    height: 50px;
    background-color: #979CA6;
    border: 1px #979CA6;
    border-radius: 2px;
    color: white;
}

.thirdBanner {
    margin: 70px 0px 130px 0px;
    width: 100%;
    height: 450px;
    background-color: #B78E68;
}

.thirdBanner .leftImg {
    width: 650px;
    height: 100%;
    object-fit: cover;
}

.thirdBanner .rightImg {
    width: 270px;
    height: 300px;
    position: relative;
    top: -20px;
    left: 150px;
}

.fourthBanner {
    margin: 70px 0px 100px 0px;
    padding-left: 140px;
    text-align: left;
}

.fourthBanner img {
    width: 90%;
    height: 500px;
}

.fifthBanner{
    margin: 130px 0px 130px 0px;
    padding-left: 200px;
    padding-right: 140px;
    text-align: left;
}

.fifthBannerImg img{
    width: 450px;
    height: 480px;
    position: absolute;
    left: 700px;
}


.fifthBannerText1,
.fifthBannerText2,
.fifthBannerText3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fifthBannerCircle {
    width: 40px;
    height: 40px;
    background-color: #FFEDDF;
    border-radius: 70%;
    position: absolute;
    z-index: 1;
}

.fifthBannerTopic1,
.fifthBannerTopic2,
.fifthBannerTopic3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    top: 3px;
    left: 50px;
}

.fifthBannerTopic1:hover,
.fifthBannerTopic2:hover,
.fifthBannerTopic3:hover {
    color: #EB6440;

}

.circleNum {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 2px;
    left: -36px;
    z-index: 2;
}


.fifthBannerCon {
    font-size: 16px;
    position: relative;
    left: 60px;
}

.sixthBanner {
    margin: 130px 0px 130px 0px;
    padding-top: 20px;
    padding-left: 175px;
    height: 400px;
}

.sixthBannerImg img {
    width: 500px;
    height: 410px;
    float: left;
}

.sixthBanner p {
    padding-left: 550px;
}

.sixthBannerMain {
    position: relative;
    top: 180px;
}

.seventhBanner {
    margin: 70px 0px 70px 0px;
    padding-top: 30px;
    padding-left: 140px;
}

.seventhBanner img {
    width: 90%;
    height: 250px;
}

.seventhBannerButtonBox {
    margin: 70px 0px 70px 0px;
    text-align: center;
}

.seventhBannerButton {
    width: 450px;
    height: 50px;
    background-color: #EB6440;
    color: white;
    border: #EB6440;
    border-radius: 3px;
}

.lastBanner {
    margin-top: 100px;
    padding: 80px 250px 70px 200px;
    width: 100%;
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1461354464878-ad92f492a5a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #E4E4E4;
}

.lastBanner span {
    margin-left: 70px;
    margin-right: -28px;
}