/* 이용방법 부분 */


.bannerHeader {
    font-weight: bold;
    font-size: 24px;
}


.manualNav {
    margin: 0;
    padding-top: 15px;
    width: 100%;
    height: 60px;
    background-color: #1C6758;
}

.manualNav button {
    width: 150px;
    height: 30px;
    border: 2px solid #1C6758;
    border-radius: 5px;
    margin-right: 20px;
    background-color: #1C6758;
}

.manualNav button:hover {
    color: white;
}

.ManualMainFirstBanner {
    width: 100%;
    height: 300px;
    background-color: #3D8361;
}

.FAQQuestion {
    margin-top: 120px;
    margin-bottom: 200px;
    padding-left: 150px;
    padding-right: 150px;
    word-break: keep-all;
}

.FAQQuestion input {
    margin-top: 40px;
    width: 70%;
    height: 50px;
    position: relative;
    left: 100px;
    border: 3px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
}

.inputButton {
    margin-bottom: 80px;
    color: white;
    background-color: gray;
    width: 100px;
    height: 50px;
    position: relative;
    left: 50px;
    border: 1px solid gray;
    border-radius: 3px;
}

.QuestionNav {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: 60px;
    background-color: #EEF2E6;
    border: 1px solid #EEF2E6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.QuestionNav button {
    margin-right: 50px;
    width: 100px;
    background-color: #EEF2E6;
    border: 1px solid #EEF2E6;
    border-radius: 5px;
}

.QuestionNav button:hover {
    height: 70%;
    background-color: #3D8361;
    color: white;
}