.storeNav{
    margin-bottom: 40px;
    padding-top: 60px;
    padding-left: 150px;
    width: 100%;
    height: 120px;
    background-color: aliceblue;
    font-size: 22px;
    font-weight: bold;
    line-height: 55px;
}

.storeNav span{
    font-size: 16px;
    font-weight: 100;
    color:#707070;
}

.storeBanner{
    margin-bottom: 150px;
    width: 100%;
    height: 600px;
    background-color: #707070;
    background: linear-gradient(black, white);

}

.storeBanner img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    -webkit-filter: brightness(80%);
}

.storeMenu{
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 70px;
}

.menu1{
    margin-bottom: 100px;
    padding-bottom: 30px;
    border-top: 7px solid lightgray;
    border-bottom: 7px solid lightgray ;
    text-align: center;
}

.menu1 span, .menu2 span{
    font-size: 18px;
    color: #707070;
}

.menu1 p, .menu2 p{
    text-align: left;
    font-size: 20px;
}

#menuHeader{
    margin: 10px 5px 50px 5px;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}

#percent{
    color:#EB6440; 
}

.menu2{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}