*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.blankBig{
  height: 70px;
}

.blankSmall{
  height: 30px;
}

.navbar{
  z-index: 1;
  width: 1124px;
  height: 60px;
  position: fixed;
  left: 100px;
  background-color: white;
}

.FirstBanner{
  width: auto;
  height: 650px;
  background-image: url('https://ik.imagekit.io/uhpparxr6/main/main-header/main-header-d-pc.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.FirstBanner span{
  position: relative;
  left: 150px;
  top: 100px;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
}

.FirstBanner span .under{
  font-weight: 100;
  font-size: 15px;
}

.FirstBanner button{
  width: 160px;
  height: 50px;
  background-color:#FF6741;
  border : 1px #FF6741;
  border-radius: 5px;
  color : white
}

.secondBanner .leftText{
  text-align: left;
  position: relative;
  left: 150px;
  font-weight: bold;
  font-size: 24px;
}

.secondBanner .rightText{
  text-align: right;
  position: relative;
  left: 600px;
  font-weight: bold;
  font-size: 24px;
}

.secondBanner .rightTextNum{
  text-align: right;
  position: relative;
  left: 440px;
  font-weight: 500;
  font-size: 24px;
  color: #EB6440;
}

.secondBannerAni img{
  width: auto;
  height: 400px;
}

.secondBannerButton{
  width: 160px;
  height: 50px;
  background-color:#979CA6;
  border : 1px #979CA6;
  border-radius: 2px;
  color : white;
  position: relative;
  left: 650px;
}

.thirdBanner{
  width: auto;
  height: 450px;
  background-color: #B78E68;
}

.thirdBanner .leftImg{
  width: 700px;
  height: 450px;
}

.thirdBanner .rightImg{
  width: auto;
  height: auto;
  position: relative;
  left: 200px;
}

.fourthBanner p{
  text-align: left;
  position: relative;
  left:175px;
  font-weight: bold;
  font-size: 24px;
}

.fourthBanner img{
  /* text-align: center; */
  margin-left: 10px;
  width: auto;
  height: 500px;
}

.fifthBanner{
  text-align: left;
  position: relative;
  left:175px;
}

.fifthBanner span{
  font-size: 18px;
}

.fifthBanner .fifthBannerMain span{
  z-index: 1;
}

.fifthBannerCircle{
  width: 35px;
  height: 35px;
  /* border: 40px; */
  background-color: #FFEDDF;
  border-radius:70%;
  position: relative;
  left: 10px;
  top: 35px;
  z-index: 2;
}

.fifthBannerImg{
  width: 500px;
  height: 500px;
  background-image: url('https://ik.imagekit.io/uhpparxr6/main-solution1.png?ik-sdk-version=react-1.1.1');
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
}

.sixthBanner{
  position: relative;
  left:175px;
}

.sixthBanner p{
  position:relative;
  left:50px
}

.sixthBannerImg{
  width: 500px;
  height: 500px;
  background-image: url('https://ik.imagekit.io/uhpparxr6/main/main-vegetables-pc_Nel5vcXXo.png?ik-sdk-version=javascript-1.4.3&updatedAt=1659941827894&ik-sdk-version=react-1.1.1');
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
}

.sixthBannerMain{
  position:relative;
  top: 120px;
}

.sixthBannerButton{
  width: 450px;
  height: 50px;
  background-color: #EB6440;
  color: white;
  border: #EB6440;
  border-radius: 3px;
}

