*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Main {
  text-align: center;
}

nav{
  height: 60px;
  position: absolute;
  left: 100px;
}

.banner{
  background-color: #FEDD9B;
  height: 300px;
  text-align: center;
}

.banner button{
  width: 160px;
  height: 50px;
  background-color:#FF6741;
  border : 1px #FF6741;
  color : white
}