*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  height: 60px;
  position: fixed;
  left: 100px;
}

.banner{
  height: 650px;
  background-image: url('https://ik.imagekit.io/uhpparxr6/main/main-header/main-header-d-pc.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner span{
  position: relative;
  left: 150px;
  top: 100px;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
}

.banner span .under{
  font-weight: 100;
  font-size: 15px;
}

.banner button{
  width: 160px;
  height: 50px;
  background-color:#FF6741;
  border : 1px #FF6741;
  color : white
}

.middleBanner .leftText{
  text-align: left;
  position: relative;
  left: 150px;
  font-weight: bold;
  font-size: 24px;
}

.middleBanner .rightText{
  text-align: right;
  position: relative;
  left: 600px;
  font-weight: bold;
  font-size: 24px;
}